@using JssBlazor.Shared.Services
@inherits LayoutComponentBase
@inject ILayoutService LayoutService

@if (Route == null)
{
    <p><em>Waiting on Layout Service...</em></p>
    return;
}

<Layout Route="@Route" />

@code {
    [Parameter]
    private LayoutServiceResult Route { get; set; }

    protected override async Task OnInitAsync()
    {
        Route = await LayoutService.GetRouteAsync("sitecore/api/layout/render");
    }
}
