<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <group groupName="layoutService">
        <pipelines>
          <getFieldSerializer>
            <processor type="JssBlazor.LayoutService.Serialization.Pipelines.GetFieldSerializer.GetBlazorMultilistFieldSerializer, JssBlazor.LayoutService"
                       resolve="true"
                       patch:before="processor[@type='Sitecore.LayoutService.Serialization.Pipelines.GetFieldSerializer.GetMultilistFieldSerializer, Sitecore.LayoutService']" >
              <FieldTypes hint="list">
                <fieldType id="1">checklist</fieldType>
                <fieldType id="2">multilist</fieldType>
                <fieldType id="3">multilist with search</fieldType>
                <fieldType id="4">treelist</fieldType>
                <fieldType id="5">treelist with search</fieldType>
                <fieldType id="6">treelistex</fieldType>
              </FieldTypes>
              <AllowedConfigurations hint="list" />
            </processor>
          </getFieldSerializer>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>
