@inherits JssComponentBase

@if (!string.IsNullOrEmpty(Heading.Value)) { <h2 class="display-4">@Heading</h2> }
<div class="contentDescription">@Content</div>

@code {
    private MarkupString Heading => GetMarkupFieldValue("heading");
    private MarkupString Content => GetMarkupFieldValue("content");
}
