@inherits LayoutComponentBase
@inject JssBlazor.Core.Services.ILayoutService _layoutService

<Helmet>
    <VisitorIdentification />
    <title>@(Route.Sitecore.Route.Fields["pageTitle"]?.Value.Rendered ?? "Page")</title>
</Helmet>

<Navigation />

<div class="container">
    <Placeholder name="jss-main" Rendering="@Route.Sitecore.Route" />
</div>

@code {
    [Parameter]
    public LayoutServiceResult Route { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Route = _layoutService.Current;
    }
}
