<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom">
    <h5 class="my-0 mr-md-auto font-weight-normal">
        <NavLink href="/"
                 class="text-dark">
            <img src="/assets/sc_logo.png" alt="Sitecore" />
        </NavLink>
    </h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <NavLink href="https://jss.sitecore.net"
                 class="p-2 text-dark"
                 target="_blank"
                 rel="noopener noreferrer">
            Documentation
        </NavLink>
        <NavLink href="/styleguide"
                 class="p-2 text-dark">
            Styleguide
        </NavLink>
        <NavLink href="/graphql"
                 class="p-2 text-dark">
            GraphQL
        </NavLink>
    </nav>
</div>
