@inherits JssComponentBase

@{
    var date = Component.GetFieldValue<DateTime>("date");
    var dateTime = Component.GetFieldValue<DateTime>("dateTime");
    var utc = dateTime.ToUniversalTime();
    var localDate = dateTime.ToLocalTime().Date;
    var localTime = dateTime.ToLocalTime();
}

<Styleguide_Specimen Component="@Component"
                     E2eId="styleguide-fieldusage-date">
    <ul>
        <li>
            Date: @date.ToLongDateString()
        </li>
        <li>
            Date (datetime): @Component.GetFieldValue("dateTime")
        </li>
        <li>
            UTC Date string: @utc
        </li>
        <li>
            Localized Date string (local timezone): @localTime
        </li>
        <li>
            Short Date string: <Date Field="@Component.Fields["date"]" Format="DateStringFormat.ShortDateString" />
        </li>
    </ul>
</Styleguide_Specimen>
