@inherits JssComponentBase

    <div data-e2e-class="styleguide-layout-tabs-tab">
        <Text Tag="h5" Field="@Component.Fields["title"]" />
        <RichText Field="@Component.Fields["content"]" />
    </div>
