@inherits JssComponentBase
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@inject JssBlazor.Core.Services.ILayoutService _layoutService
@inject JssBlazor.Core.Services.IComponentFactory _componentFactory
@inject JssBlazor.Core.Services.IRouteResolver _routeResolver

<Styleguide_Specimen Component="@Component"
                     E2eId="styleguide-route-fields">
    <p>
        Route level <code>pageTitle</code> field:
        <Text Field="@PageTitle" Editable="@false" />

    </p>
    <p>
        <a href="/styleguide/custom-route-type">Sample of using a custom route type</a>
    </p>
</Styleguide_Specimen>

@code {

    private Core.Models.LayoutService.Fields.Field PageTitle { get; set; }
    protected override async Task OnInitializedAsync()
    {
        // The property _layoutService received an implementation
        // of ILayoutService through dependency injection. Use
        // _layoutService to obtain data from the server.
        var layoutServiceResult = await _layoutService.GetRouteAsync("/styleguide");
        PageTitle = layoutServiceResult.Sitecore.Route.Fields["pageTitle"];
    }
}
