@inherits JssComponentBase

<div class="pt-3" id="@StyleguideUtilities.GetMarkupId(Component)">
    <Text Class="border-bottom" Field="@Component.Fields["heading"]" Tag="h3" />
    <Placeholder Name="jss-styleguide-section" Rendering="Component" />
</div>
