@inherits JssComponentBase

<Styleguide_Specimen Component="@Component"
                     E2eId="styleguide-route-fields">
    <p>
        Route level <code>pageTitle</code> field:
        <Text Field="@SitecoreContext.Route.Fields["pageTitle"]" Editable="@false" />
    </p>
    <p>
        <a href="/styleguide/custom-route-type">Sample of using a custom route type</a>
    </p>
</Styleguide_Specimen>

@code {
    [CascadingParameter]
    public RenderingData SitecoreContext { get; set; }
}
