@inherits JssComponentBase

<Styleguide_Specimen Component="@Component"
                     E2eId="styleguide-multilingual">
    <PlainText Field=@Component.Fields["sample"] Encode="false" Tag="p" />

    <p>
        This is a static dictionary entry from <code>/data/dictionary</code>:&nbsp;{props.t('styleguide-sample')}
    </p>

    <p>
        <a href="/en/styleguide">Show in English</a>
        <br />
        <a href="/da-DK/styleguide">Show in Danish</a>
    </p>

    <p>The current language is: <strong>@SitecoreContext.Context.Language</strong></p>
</Styleguide_Specimen>

@code {
    [CascadingParameter]
    public RenderingData SitecoreContext { get; set; }
}
