@inherits LayoutComponentBase

<Head Title="@(Route.Sitecore.Route.Fields["pageTitle"]?.Value.Rendered ?? "Page")" />

<VisitorIdentification />

<Navigation />

<div class="container">
    <Placeholder name="jss-main" Rendering="@Route.Sitecore.Route" />
</div>

@code {
    [Parameter]
    public LayoutServiceResult Route { get; set; }
}
