@using Newtonsoft.Json.Serialization;
@inherits JssComponentBase

@*
    Demonstrates gaining access to the route-level Sitecore Context from
    within other components.
*@
<Styleguide_Specimen Component="@Component"
                     E2EId="styleguide-sitecore-context">
    <p>The current Sitecore Context is...</p>
    <pre style="max-height: 400px; overflow: scroll">@RenderSitecoreContext()</pre>
</Styleguide_Specimen>

@code {
    [CascadingParameter]
    public RenderingData SitecoreContext { get; set; }

    private string RenderSitecoreContext()
    {
        return JsonConvert.SerializeObject(SitecoreContext, new JsonSerializerSettings
        {
            Formatting = Formatting.Indented,
            ContractResolver = new CamelCasePropertyNamesContractResolver(),
            NullValueHandling = NullValueHandling.Ignore
        });
    }
}
