@inherits JssComponentBase

@*
    Demonstrates usage of a Content Link content field within JSS.
    Content links are a reference to a single other piece of content.
*@
<Styleguide_Specimen Component="@Component" E2eId="styleguide-fieldusage-itemlink">
    <h5>Shared Item Link</h5>
    @*Item link fields are returned with their value as the referenced item value.*@
    @if (_sharedItemLink != null)
    {
        <div>
            @*The referenced item's fields can be rendered and edited using normal helper components:*@
            <p>
                Field: <TextField Field="@_sharedItemLink.Fields["textField"]" />
            </p>
        </div>
    }

    <h5>Local Item Link</h5>
    @if (_localItemLink != null)
    {
        <div>
            <p>
                Field: <TextField Field="@_localItemLink.Fields["textField"]" />
            </p>
        </div>
    }
</Styleguide_Specimen>

@code {
    private Field _sharedItemLink;
    private Field _localItemLink;    

    protected override void OnParametersSet()
    {
        _sharedItemLink = Component.Fields["sharedItemLink"];
        _localItemLink = Component.Fields["localItemLink"];
    }
}
