@inherits JssComponentBase

@*
    Demonstrates usage of a Content List field type within JSS.
    Content Lists are references to 0..n other content items.
    In Sitecore terms, this maps by default to a Treelist field.
*@
<Styleguide_Specimen Component="@Component"
                     E2EId="styleguide-fieldusage-content-list">
    <h5>Shared Content List</h5>
    @*
        Content List fields are returned with their value as an array of the referenced items.
        So we can use foreach to traverse them.
    *@
    @foreach (var listItem in _localContentList)
    {
        <div>
            @* The referenced item's fields can be rendered and edited using normal helper components: *@
            <p>
                Field: <TextField Field="@listItem.Fields["textField"]" />
            </p>
        </div>
    }

    @foreach (var listItem in _sharedContentList)
    {
        <div>
            @* The referenced item's fields can be rendered and edited using normal helper components: *@
            <p>
                Field: <TextField Field="@listItem.Fields["textField"]" />
            </p>
        </div>
    }
</Styleguide_Specimen>

@code {
    private IEnumerable<MultilistItem> _localContentList;
    private IEnumerable<MultilistItem> _sharedContentList;

    protected override void OnParametersSet()
    {
        _localContentList = GetContentList("localContentList");
        _sharedContentList = GetContentList("sharedContentList");
    }

    private IEnumerable<MultilistItem> GetContentList(string fieldName)
    {
        if (!(Component.Fields[fieldName] is MutlilistField contentList))
        {
            return Enumerable.Empty<MultilistItem>();
        }

        return contentList.Value?.Items ?? Enumerable.Empty<MultilistItem>();
    }
}
