@inherits JssComponentBase

@*
    Demonstrates usage of a Number (decimal) content field within JSS.
*@
<Styleguide_Specimen Component="@Component"
                     E2EId="styleguide-fieldusage-number">
    @* Basic emission of a number field for editing can be done with the component. *@
    <TextField Field="@Component.Fields["sample"]" />

    @* Direct access to the value, which is a JS number, is also supported. *@
    <p>
        C# value type: @_fieldValue.GetType().Name
        <br />
        C# value: @_fieldValue
    </p>
</Styleguide_Specimen>

@code {
    private decimal _fieldValue;

    protected override void OnParametersSet()
    {
        _fieldValue = Component.Fields["sample"].GetFieldValue<decimal>();
    }
}
