@inherits JssComponentBase

@*
    Demonstrates using the dictionary functionality and defining route data in
    multiple languages.
*@
<Styleguide_Specimen Component="@Component"
                     E2eId="styleguide-multilingual">
    <TextField Field=@Component.Fields["sample"] Encode="false" Tag="p" />

    <p>
        This is a static dictionary entry from <code>/data/dictionary</code>:&nbsp; @Component.Fields["sample"]
    </p>

    <p>
        <NavLink href="/en/styleguide">Show in English</NavLink>
        <br />
        <NavLink href="/da-DK/styleguide">Show in Danish</NavLink>
    </p>

    <p>The current language is: <strong>@SitecoreContext.Context.Language</strong></p>
</Styleguide_Specimen>

@code {
    [CascadingParameter]
    public RenderingData SitecoreContext { get; set; }
}
