@inherits JssComponentBase

@*
    Demonstrates usage of a Content List field type within JSS.
    Content Lists are references to 0..n other content items.
    In Sitecore terms, this maps by default to a Treelist field.
*@
<Styleguide_Specimen Component="@Component"
                     E2eId="styleguide-fieldusage-content-list">
    <h5>Shared Content List</h5>
    @*
        Content List fields are returned with their value as an array of the referenced items.
        So we can use foreach to traverse them.
    *@
    @foreach (var listItem in _localContentList)
    {
        <div>
            @* The referenced item's fields can be rendered and edited using normal helper components: *@
            <p>
                Field: <PlainText Field="@listItem.Fields["textField"]" />
            </p>
        </div>
    }

    @foreach (var listItem in _sharedContentList)
    {
        <div>
            @* The referenced item's fields can be rendered and edited using normal helper components: *@
            <p>
                Field: <PlainText Field="@listItem.Fields["textField"]" />
            </p>
        </div>
    }
</Styleguide_Specimen>

@code {
    private IEnumerable<Field> _localContentList;
    private IEnumerable<Field> _sharedContentList;

    protected override void OnParametersSet()
    {
        _localContentList = GetContentList("localContentList");
        _sharedContentList = GetContentList("sharedContentList");
    }

    private IEnumerable<Field> GetContentList(string fieldName)
    {
        var contentList = Component.Fields[fieldName];
        var listItems = contentList.Value.RawValue.ToObject<IEnumerable<Field>>();
        return listItems;
    }
}
