@inherits JssComponentBase

@*
    Demonstrates usage of a Checkbox (boolean) content field within JSS.    
*@
<Styleguide_Specimen Component="@Component"
                     E2EId="styleguide-fieldusage-checkbox">
    @* Checkbox fields do not have the ability to be inline edited, so they are directly access via their value: *@
    <ul>
        @*
            The GetFieldValue method allows safely extracting a field value that could be undefined,
            without needing to check that Component.Fields or Component.Fields["checkbox"] are traversable,
            and allowing the specification of an optional default value (default is null if undefined).
        *@
        <li><code>checkbox</code> is @Component.GetFieldValue("checkbox")</li>
        <li><code>checkbox2</code> is @Component.GetFieldValue("checkbox2")</li>
    </ul>
</Styleguide_Specimen>
