@inherits JssComponentBase

@*
    Demonstrates gaining access to route-level fields.
    This technique builds on the Styleguide-SitecoreContext technique,
    to also get the route level field data and make it editable.
*@
<Styleguide_Specimen Component="@Component"
                     E2eId="styleguide-route-fields">
    <p>
        Route level <code>pageTitle</code> field:
        <PlainText Field="@SitecoreContext.Route.Fields["pageTitle"]" />
    </p>
    <p>
        <NavLink href="/styleguide/custom-route-type">Sample of using a custom route type</NavLink>
    </p>
</Styleguide_Specimen>

@code {
    [CascadingParameter]
    public RenderingData SitecoreContext { get; set; }
}
