@inherits JssComponentBase

<div data-e2e-id="styleguide-customroutetype">
    <PlainText Tag="h3" Field="@SitecoreContext.Route.Fields["headline"]" />

    <p>
        <em>
            By <PlainText Field="@SitecoreContext.Route.Fields["author"]" />
        </em>
    </p>

    <RichText Field="@SitecoreContext.Route.Fields["content"]" />

    <NavLink href="/styleguide">Return to the Styleguide</NavLink>
</div>

@code {
    // Adding a public RenderingData property with the [CascadingParameter] attribute
    // to a component is the magical glue that gives you route-level context access
    // see the context examples in the styleguide for more details
    [CascadingParameter]
    public RenderingData SitecoreContext { get; set; }
}
