@inherits LayoutComponentBase

<Helmet>
    <title>@(Route.Sitecore.Route.Fields["Title"]?.Value.ToString() ?? "Page")</title>
</Helmet>

<VisitorIdentification />

<Navigation />

<div class="container">
    <Placeholder name="jss-main" Rendering="@Route.Sitecore.Route" />
</div>

@code {
    [Parameter]
    private LayoutServiceResult Route { get; set; }
}
